[submodule "lib/Radikant-Probe-C"]
	path = lib/Radikant-Probe-C
	url = https://github.com/Radikant/Radikant-Probe-C.git
	branch = main
[submodule "lib/Radikant-Socket-C"]
	path = lib/Radikant-Socket-C
	url = https://github.com/Radikant/Radikant-Socket-C.git
	branch = main
[submodule "lib/Radikant-Log-C"]
	path = lib/Radikant-Log-C
	url = https://github.com/Radikant/Radikant-Log-C.git
	branch = main

# Performance Testing / Reference Implementations:
[submodule "lib/mpack"]
	path = lib/mpack
	url = https://github.com/ludocode/mpack.git
	branch = develop
[submodule "lib/cmp"]
	path = lib/cmp
	url = https://github.com/camgunz/cmp.git
	branch = master
